<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
          "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.pepabo.nakajichan</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/pb-deployer/.rbenv/shims/ruby</string>
      <string>/Users/pb-deployer/Tools/nakajichan/main.rb</string>
      <string>-o</string>
      <string>0.0.0.0</string>
    </array>
    <key>OnDemand</key>
    <false/>
  </dict>
</plist>
